{% extends "layout.html" %}
{% block content %}
<div class="details__bg details__bg--down">
	<a href="/" title="exit"><i class="fas fa-2x fa-times icon--exit tm-fa-close"></i></a>
	<form class="choose-city-form" action="/weather" method="GET">
	  <div class="what-city-box">
	    <label class="what-city-label" for="city">What city:</label>
	    <input name="query" value="">
	  </div>
	    <button class='btn tm-btn-gray check-for-btn'>Check for the weather</button>
	</form>

</div>
{% endblock content %}