{% extends "layout.html" %}
{% block content %}
    <div class="row row1">
        <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
            <div class="tm-site-header">
                <h1 class="header1">Johnathan Maytliss</h1>
                <img src="img/underline.png" class="header1">
                <p class="title1">Software Engineer</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="content1">
                <div class="grid">
                    <div class="grid__item" id="home-link">
                        <div class="product">
                            <div class="tm-nav-link">
                                <i class="fas fa-home fa-3x tm-nav-icon"></i>
                                <span class="tm-nav-text">About Me</span>
                                <div class="product__bg"></div>
                            </div>
                            <div class="product__description">
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <h2 class="tm-page-title">Welcome to my webpage</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <img src="img/welcome-1.jpg" class="img-fluid mb-3">
                                        <p>begain projects, Learned about X Y Z.
                                        Making a web in heroku, Then decided to learn DevOps and deployed the web site on ec2 instance.</p>
                                        <p>Now pursuing a career as a software engineer!
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <p>March 2020, figured out passion for programming.
                                        from there I began self-learning software development.</p>

                                        <p>Learning all the basics(Data Structures, Algorithms, Programming language, Data bases).
                                        </p>
                                        <img src="img/welcome-2.jpg" class="img-fluid">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="grid__item" id="team-link">
                        <div class="product">
                            <div class="tm-nav-link">
                                <i class="fa fa-bug fa-3x tm-nav-icon"></i>
                                <span class="tm-nav-text">Skills&Hobbies</span>
                                <div class="product__bg"></div>
                            </div>
                            <div class="product__description">
                                <div class="p-sm-4 p-2">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h2 class="tm-page-title">Skills</h2>
                                        </div>
                                    </div>
                                    <div class="row tm-reverse-sm">
                                        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                            <p class="mb-4">
                                                Autodidact, fast learner and eager to face new technologies. 
                                            </p>
                                            <p class="mb-4">
                                                Creative thinker and solution oriented.
                                            </p>
                                            <p class="mb-5">
                                                Great team player which always responsible for getting the job done!
                                            </p>
                                        </div>

                                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
                                            <img src="img/skills.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h2 class="tm-page-title">Hobbies</h2>
                                        </div>
                                    </div>
                                    <div class="row tm-reverse-sm">
                                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
                                            <img src="img/cars.jpg" class="img-fluid">
                                            <img src="img/turntable.jpg" class="img-fluid">
                                        </div>
                                        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                            <p class="mb-4">
                                                Having graet passion for cars
                                            </p>
                                            <p class="mb-4">
                                                Music and Audio
                                            </p>
                                            <p class="mb-5">
                                                Photography
                                            </p>
                                            <a href="#" class="btn tm-btn-gray">Read More</a>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                                    <div class="grid__item" id="team-link">

                    <div class="product">
                            <div class="tm-nav-link">
                                <i class="fa fa-rocket fa-3x tm-nav-icon"></i>
                                <span class="tm-nav-text">My Work</span>
                                <div class="product__bg"></div>
                            </div>
                            <div class="product__description">
                                <div class="fa-home-sm-4 p-2">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h2 class="tm-page-title">My Work</h2>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <p>A few projects that I've been made during my ongoing learning process.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-sm-4 p-2 tm-img-container">
                                                <div class="tm-img-slider" id="tmImgSlider">
                                                  <a href="https://github.com/johnnie172" class="tm-slider-img-link" target="_blank"><img src="img/github.png" alt="Image 1" class="img-fluid tm-slider-img"></a>
                                                  <a href="/weather" class="tm-slider-img-link"><img src="img/weather.png" alt="Image 1" class="img-fluid tm-slider-img">
                                                  </a>
                                                  <a href="/nasa" class="tm-slider-img-link"><img src="img/nasa.png" alt="Image 3" class="img-fluid tm-slider-img"></a>
                                                  <a href="/web" class="tm-slider-img-link"><img src="img/web-site.png" alt="Image 4" class="img-fluid tm-slider-img"></a>
                                                  <a href="#" class="tm-slider-img-link"><img src="img/under-construction.gif" alt="Image 5" class="img-fluid tm-slider-img"></a>
                                                  <a href="#" class="tm-slider-img-link"><img src="img/under-construction.gif" alt="Image 6" class="img-fluid tm-slider-img"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}