{% extends "layout.html" %}
{% block content %}
	<div class="details__bg details__bg--down project-box">
		<div class='project-inside-box'>
	        <div class="row mb-3 screen-shoot">
	            <div class="col-12">
	                <h2 class="tm-page-title">NASA</h2>
	            </div>
	        </div>
	        <div>
	        <div class="row tm-reverse-sm">
	        	<p class='col-12'> Get the NASA official picture/video of the day!
					Each day a different image or video of our fascinating universe is featured,
					along with a brief explanation written by a professional astronomer.
					You can also browse for previous images at a specific date.
				</p>
	        	<img src="img/nasa_screen_1.png" class="project-pic-center">
	            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
	                <p class="mb-4">Vestibulum aliquet, arcu accumsan lobortis bibendum, justo velit efficitur lorem, at pulvinar mi justo nec lacus.</p>
	                <p class="mb-4">Sed ex turpis, vulputate in efficitur id, lobortis eget nibh. Pellentesque maximus ipsum eget velit imperdiet sodales. Suspendisse in blandit mi.</p>
	            </div>

	            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
	                <img src="img/nasa_screen_2.png" class="img-fluid">
	            </div>
	        </div>
	        <div class="row mb-3 screen-shoot">

	        </div>
	        <div class="row tm-reverse-sm">
	        	<img src="img/nasa_screen_3.png" class="project-pic-center">
		            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
		                <img src="img/nasa_screen_4.png" class="img-fluid">
		            </div>
		            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
		                <p class="mb-4">Vestibulum aliquet, arcu accumsan lobortis bibendum, justo velit efficitur lorem, at pulvinar mi justo nec lacus. Nullam et libero aliquet, luctus nunc sit amet, tincidunt ligula. Sed finibus ante sed tortor cursus, nec malesuada lectus interdum.</p>	
		            </div>
		    </div>
		    <div class="row tm-reverse-sm">
	        	<p class='col-12'> YOUTUBE
				</p>
	        	<img src="img/nasa_screen_5.png" class="project-pic-center">
	            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
	                <p class="mb-4">Vestibulum aliquet, arcu accumsan lobortis bibendum, justo velit efficitur lorem, at pulvinar mi justo nec lacus.</p>
	                <p class="mb-4">Sed ex turpis, vulputate in efficitur id, lobortis eget nibh. Pellentesque maximus ipsum eget velit imperdiet sodales. Suspendisse in blandit mi.</p>
	            </div>

	            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
	                <img src="img/nasa_screen_6.png" class="img-fluid">
	            </div>
	        </div>
        </div>
        <img src="img/nasa_screen_7.png" class="project-pic-center">
        <a href="https://github.com/johnnie172/nasa_project" target="_blank" class="btn tm-btn-gray">NASA_app.git</a>
	</div>
{% endblock content %}