{% extends "layout.html" %}
{% block content %}
	<div class="details__bg details__bg--down project-box">
		<div class='project-inside-box'>
	        <div class="row mb-3 screen-shoot">
	            <div class="col-12">
	                <h2 class="tm-page-title">NASA</h2>
	            </div>
	        </div>
	        <div>
	        <div class="row tm-reverse-sm">
	        	<p class='col-12'> Get the NASA official picture/video of the day!
					Each day a different image or video of our fascinating universe is featured,
					along with a brief explanation written by a professional astronomer.
					You can also browse for previous images at a specific date.
				</p>
	        	<img src="img/nasa_screen_1.png" class="project-pic-center">
	            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
	                <p class="mb-4">Download the HD pic of today/diffrent date locally using the free key.</p>

	            </div>

	            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
	                <img src="img/nasa_screen_2.png" class="img-fluid">
	            </div>
	        </div>
	        <div class="row mb-3 screen-shoot">

	        </div>
	        <div class="row tm-reverse-sm">
	        	<img src="img/nasa_screen_3.png" class="project-pic-center">
		            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
		                <img src="img/nasa_screen_4.png" class="img-fluid">
		            </div>
		            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
		                <p class="mb-4">All the files are downloded to the user user directory automatically.</p>	
		            </div>
		    </div>
		    <div class="row tm-reverse-sm">
	        	<p class='col-12'> YOUTUBE
				</p>
	        	<img src="img/nasa_screen_5.png" class="project-pic-center">
	            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
	                <p class="mb-4">When chossing a date which a Video is chosen, you can either download the video(mp4 format) or get the YOUTUBE link.</p>
	            </div>

	            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
	                <img src="img/nasa_screen_6.png" class="img-fluid">
	            </div>
	        </div>
        </div>
        <img src="img/nasa_screen_7.png" class="project-pic-center">
        <a href="https://github.com/johnnie172/nasa_project" target="_blank" class="btn tm-btn-gray">NASA_app.git</a>
	</div>
{% endblock content %}