{% extends "layout.html" %}
{% block content %}
	<div class="details__bg details__bg--down project-box">
		<a href="/" title="exit"><i class="fas fa-2x fa-times icon--exit tm-fa-close"></i></a>
		<div class='project-inside-box'>
	        <div class="row mb-3 screen-shoot">
	            <div class="col-12">
	                <h2 class="tm-page-title">FLASK WEB</h2>
	            </div>
	        </div>
	        <div>
	        <div class="row tm-reverse-sm">
	        	<p class='col-12'> This Website Architecture
				</p>
	        	<img src="img/web-architecture.png" class="project-pic-center">
	            
        </div>
	</div>
	<a href="https://github.com/johnnie172/flask_web" target="_blank" class="btn tm-btn-gray">Flask_Web.git</a>
{% endblock content %}

